@import url("https://github.com/Nuruddin999/arabiconlinefiles/blob/master/fonts/Ubuntu-Medium.ttf");
$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

.indexchapter {
  display: flex;
  margin: 10px;
}

.chapterlink {
  margin-left: 2%;
}

.words {
  margin-top: 20%;
}

.wordcard {
  display: flex;
  flex-direction: column;
  width: 30%;

}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #7c4dff;
  padding: 3% 0;
  position: fixed;
  top: 0;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
.burger {
  div {
margin: 3px;
    width: 20px;
    height: 3px;
    background: white;
  }
}
  a {
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
  }
}

.title {
  margin-top: 2%;
  font-size: 3em;
}

.translation {
  font-size: 2em;
  margin-top: 1%;
}

.phrasessection {
  background: #f5f5f5;
}

.phrasewrapper {
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 2%;
  box-shadow: $shadow;
  background-color: #fff;

  .phrase {
    display: flex;
    align-items: center;
    justify-content: space-around;
margin: 2%;
    img {
      width: 30%;
    }

    span {
      font-size: 2em;
    }
  }
  embed {
    display: block;
    width: 30%;
    margin: 0 auto;
  }
}

.uprazneninya {
  margin-top: 10%;

  .title {
    display: block;
    text-align: center;
    color:#8c5383;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    margin: 3%;
  }

  .picturequiz {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 6%;

    .variants {
      display: flex;
      flex-direction: column;
    }
  }

  .finish2words {
    display: flex;
    flex-direction: column;
    margin: 15% 2%;

    input {
      border-right: unset;
      border-left: unset;
      border-top: unset;
      border-radius: unset;
      border-bottom: 2px solid #536dfe;
      margin: 0 6%;

    }

    .imgs {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 25%;
        margin: 0 10px;
      }
    }

    .words {
      display: flex;
      align-items: center;
      justify-content: center;

      .inpword {
        width: 25%;
        font-size: 1.5em;
      }

      .inputword {
        padding: 5%;
        font-size: 2em;
        width: 25%;
      }

      .word {
        font-size: 9vw;
      }

      .va {
        display: block;
        width: 5%;
        font-size: 2em;
      }
    }

  }
  button{
    display: block;
    background: #388e3c;
    color: white;
    border: unset;
    padding: 2%;
    width: 60%;
    margin: 2% auto;
    border-radius: 4px;
    box-shadow: $shadow;
   .buttontext{
     letter-spacing: 7px;
     text-align: center;
     font-size: 1.5em;
   }
  }

}
.makewordcontainer {
  display: flex;
  flex-direction: column;
  margin: 2%;
  .makeword {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    svg {
      flex: 0 0 15%;
    }
    .wordcontainer {
      flex: 0 0 70%;
      display: block;
      padding: 0 2%;
      font-size: 2em;
      box-shadow: $shadow;
      text-align: center;
    }
    button {
      flex: 0 0 15%;
    }
  }
  .letterscontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button {
      flex: 0 0 25%;
      background: #0288d1;
      color: white;
      margin: 1%;
      padding: 5%;
      display: flex;
      font-size: 2em;
      border-color: unset;
      justify-content: center;
      box-shadow: $shadow;
      border-radius: 6px;
      border-width: thin;
    }
  }
}
.dictationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  .wordContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    input {
       font-size: 1.5em;
    }
   
  }

}
.smallfont {
  font-size: 1em;
}
.soundbutton {
  padding: 3%;
  background: #7c4dff;
  border-radius: 10px;
  box-shadow: $shadow;
}